
/src/main/java/librerie/

.idea/
/.idea/
/.settings/
/.vscode/
/.stackedit-trash/
.\lib\
target\
/mnt/c/Users/ionut/Documents/GitHub/Gestionale_Distributori/lib/
lib
lib/
lib\
target
\.vscode\
".classpath"
.settings/org.eclipse.jdt.core.prefs
/glassfish5
\glassfish5_new

*.txt
./log/*.txt
.\log\*.txt
.\log\
./log/
log\
log/