
/src/main/java/librerie/

.idea/
/.idea/
/.settings/
/.vscode/
/.stackedit-trash/
.\lib\
target\
/mnt/c/Users/loren/Documents/GitHub/Gestionale_Distributori/lib/
lib
lib/
lib\
target
glassfish5/
\.vscode\
".classpath"
.settings/org.eclipse.jdt.core.prefs